
html,
body {
    position: relative;
    font-family: helvetica;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.logo {
	display: auto;
}
.hello {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    margin-top: 150px;
    color: black;
    text-decoration: none;
    z-index: 1;
}
a {
    text-decoration: none;
    color: black;
   font-family: helvetica;
}
a:hover {
	text-decoration: underline;
}
 span {
    position: absolute;
    right: 0px;
    color: gray;
    padding: 20px;
}

span > a {
	color: "grey";
}

.verify {
    display: none;
    color: red;
    font-size: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    z-index: 3;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #999;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  @media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) { 
    .popup{
      width: 80%;
    }

  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #9e2d29;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }